---
layout: default
---
<div class="row">
  <div id="myArticle" class="col-sm-9">
    <div class="post-area post">
      <header>
        <h1>{{ page.title }}</h1>
        <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </header>
      <hr>
      <article>
        {{content}}
      </article>
      <hr>
    </div>
  </div>
  <div id="content" class="col-sm-3">
    <div id="myAffix" class="shadow-bottom-center hidden-xs" >
       <div class="content-fixed">
        <div class="categories-list-header">
        目录
      </div>
      <div class="content-text"></div>
    </div>
    </div>
  </div>
</div>

<!-- <div class="header">
  <h4 class="title" id="title">如果觉得我的文章对你有帮助，请随意赞赏。</h4>
</div>
<div class="body" id="body" style="text-align: center; min-height: 400px;">
  <div>
    <div style="float:left;text-algin:center;width:30%">
      <p><b>支付宝</b></p>
      <img style="width:220px" src="/image/pay/alipay.jpeg" alt="">
    </div>
    <div style="float:left;text-algin:center;;width:30%">
      <p><b>微信支付</b></p>
      <img style="width:220px" src="/image/pay/wechat.jpeg" alt="">
    </div>
  </div>
</div> -->